* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.customerce-wrapper {
    padding: 100px 0px;
    .hero-wrap {
        h1 {
            font-family: 'Plus Jakarta Sans';
            font-style: normal;
            font-weight: 800;
            font-size: 80px;
            line-height: 100px;
            /* or 111% */
            
            letter-spacing: -1px;
            color: #0A102F;
        }
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #0A102F;
            padding-top: 10px;
            padding-bottom: 30px;
        }
        .button-area {
            .btn {
                border: none;
                padding-left: 0;
                display: flex;
                margin-bottom: 35px;
                .items1 {
                    a {
                        padding: 18px 42px;
                        text-decoration: none;
                        text-transform: capitalize;
                        background-color: #A259FF;
                        border-radius: 3px;
                        color: #fff;
                        transition: .3s;
                        &:hover {
                            background-color: #0A102F;
                            color: #fff;
                        }
                    }
                }
                .items2 {
                    margin-left: 20px;
                    
                    a {
                        text-decoration: none;
                        border: 2px solid #0A102F;
                        padding: 16px 25px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        color: #0A102F;
                        transition: .3s;
                        border-radius: 3px;
                        &:hover {
                            background-color: #0A102F;
                            border: none;
                            color: #fff;
                            outline: 0;
                            
                        }
                    }
                }
            }
        }
        .icon-area {
            i {
                color: #00B67A;
                span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #0A102F;
                    margin-left: 10px;
                }
            }
        }
    }
    .image-items {
        img {
            width: 100%;
        }
    }
}